.shortcut p{
  margin: 4px 0 0; 
}
.shortcut {
  /* stack icon + text vertically & center them */
  margin-top: 4px; /*0.2rem;*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /* space between rows */
  margin-bottom: 16px; /*1rem;*/
}
.shortcuts {
  display: flex;
  flex-direction: row;
}

.shortcuts-col-1, .shortcuts-col-2 {
  width: 154px; /*12vw;*/
  height: 540px; /*100vh;*/
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
  align-items: center;
  justify-content: space-around;
  

}

.shortcuts-col-2 {
  justify-content: start;
}

.icon-frame {
  /* choose whatever size makes sense for you */
  width: 52px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden; /* crop anything outside the box */
}

.icon-frame img {
  max-width: 100%;/*100%;*/
  max-height: auto; /*100%;*/
  object-fit: contain;
}

.icon-frame button {
  background-color: transparent;
  border-color: transparent;
  width: 52px;
  height: 52px;
}