.shortcut p{
  margin: 4px 0 0; 
}
.shortcut {
  /* stack icon + text vertically & center them */
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* space between rows */
  margin-bottom: 1rem;
}
.shortcuts {
  display: flex;
  flex-direction: row;
}

.shortcuts-col-1, .shortcuts-col-2 {
  width: 12vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transform: scale(0.88);
  transform-origin: top left;
  margin-bottom: 27px;
  align-items: center;
}

.icon-frame {
  /* choose whatever size makes sense for you */
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden; /* crop anything outside the box */
}

.icon-frame img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.icon-frame button {
  background-color: transparent;
  border-color: transparent;
  width: 64px;
  height: 64px;
}