@font-face {
  font-family: pixelText;
  src: url(../fonts/ms-sans-serif-1.ttf);
}
* {
  font-family: pixelText;
}

body {
  overflow: hidden;
  background-color: #048D8F;
  width: 100%;
  height: 100%;
}

#windows-frame {
  position: relative;
  overflow: hidden; /* Clips any windows that spill outside main. */
  /*width: 100vw;
  height: 100vh;*/
  background-color: #048D8F;

  width: 1280px;
  height: 595px;
  transform-origin: top left;
  transform: scale(var(--scale));
  
}
:root {
  --scale: 1;
}

.toolbar {
  background-color: #C3C7CB;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(35px*(var(--scale)));
  display: flex;
  align-items: center;        /* center content vertically */
  padding: 0 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.toolbar button {
  /* let the button size to its contents */
  display: inline-flex;       /* lay out children in a row */
  align-items: center;        /* vertically center icon & text */
  justify-content: center;
  
  height: calc(25px*(var(--scale)));
  padding: 0 8px;             /* space around text/icon */
  background: white;
  cursor: pointer;
  margin-left: calc(30px*(var(--scale)));
}

.toolbar button img {
  /* icon will be the same height as the button, minus a bit of padding */
  height: calc(32px*(var(--scale)));
  width: auto;
  object-fit: contain;
  margin-right: calc(4px*(var(--scale))); /* Padding between image and text */
}