@font-face {
  font-family: pixelText;
  src: url(../fonts/ms-sans-serif-1.ttf);
}
* {
  font-family: pixelText;
}

a {
  color: #2421D7;
  text-decoration: underline;
}

.hidden {
  display: none;
}


.Outer-window {
  width: 252px;
  height: 200px;
  background-color: #C3C7CB;
  /* Illusion of window depth */
  border-style: solid;
  border-width: 3px;
  border-top-color: #000000;
  border-left-color: #000000;
  border-bottom-color: #404040;
  border-right-color: #404040;
  box-shadow: 
  0px 8px 12px rgba(0, 0, 0, 0.5), /* outer shadow */
  inset -1px -1px 0 #808080,   /* inner top-left bevel */
  inset 1px 1px 0 #dfdfdf;     /* inner bottom-right bevel */

  position: absolute;
  z-index: 10;             
  top: 300px;              
  left: 497px;
  transform: scale(1.34);
}

.Top-bar button {
  border: 0px;
  margin-right: 4px;
  width: 17px;
  height: 17px;
}

.Top-bar {
  width: 252;
  height: 22px;
  background-color: #000080;
  display: flex;
  justify-content: flex-start;  /* everything starts at the left */
  align-items: center;          /* vertical centering */
  padding: 0 7px;
}

.Window-icon {
  margin-right: 3px;
}

.Top-bar .Window-title {
  margin-right: auto;           /* ← this pushes *everything after it* to the right */
  color: #fff;
  font-size: small;
}

.Inner-window {
  margin-top: 7px;
  margin-left: 8px;
  background-color: #E7E7E7;
  width: 236px;
  height: 160px;
  font-size: 11px;
  display: flex;
}